@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cute+Font&family=Dongle:wght@300;400;700&family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

/*
폰트!!
CSS rules to specify families
font-family: 'Bungee Inline', cursive;
font-family: 'Cute Font', cursive;
font-family: 'Dongle', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
*/

$green: #e2ff3a;
$subgreen: #a5d971;
$lightgreen: #eff285;
$black: #000000;
$subblack: #012623;
$pink: #f21b1b;
$mainfont: "Nanum Pen Script", cursive;
$subfont: "Gamja Flower", cursive;
$blue: #1da9cc;


.logo-bg {
  background: $black;
  width: 100%;
}

/* UNSELECTED 토픽!! */
.topic {
  font-family: $mainfont;
  font-size: calc(13px + 8vw);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  padding: 5%;
  text-shadow: 1px 0px 4px $lightgreen, 2px 0px 4px $lightgreen, 3px 0px 4px $green, 2px 0px 3px $green, 2px 3px 15px $green, 2px 0px 15px, 5px 0px 25px, 10px 0vw 150px $green, 50px 0vw 100px $green;
  color: $black;
}



.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}


.chapterCnt {
  font-family: 'Dongle', sans-serif;
  font-size: calc(5px + 2vmin);
  color: $pink;
  margin-bottom: 2vh;
}

/* 챕터1 소개글!! */
.story {
  margin: 2vh;
  font-family: $subfont;
  font-size: calc(5px + 1.5vmin);
  // background-color: $green;
  // box-shadow: 0 0 0.99em $blue;
  color: $black;
  // border-radius: 30px;
  padding: 4vw;
  text-align: left;
}

.storyLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character {
  width: 30%;
}


.mb-2 {
  font-family: "Bungee Inline", cursive;
  margin-top: 50px;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.55em $blue;
}

.mb-2:hover {
  box-shadow: 0 0 1em $blue;
  transition: 0.15s;
}


.story, .mb-2 {
  background: $green;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);

  &::after {
    position: absolute;
    content: "";
    top: 0%;
    left: 0%;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(1.02) translateZ(0);
    filter: blur(10px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}



p {
  width: 100%;
}

/* 앱 기본 설정들 */
.App {
  text-align: center;
}

.App-logo {
  border-radius: 3vmin;
  height: 40vmin;
  pointer-events: none;
  background: $black;
}

.App-header {
  position: relative;
  z-index: 0;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 링크!! */
.App-link {
  font-size: 17px;
  font-weight: 800;
  color: $blue;
  font-family: "Ubuntu Condensed", sans-serif;
  padding-bottom: 10vh;
}